<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Input From UI Design</title>
        <link rel="stylesheet" href="/static/css/style.css">
        </style>
    </head>
    <body>
        <div class="box">
            <h2>Sign In</h2>
            <form action="/login" method="post">
                <div class="inputBox">
                    <input type="text" name="username" required="">
                    <label>Username</label>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required="">
                    <label>password</label>
                </div>
                <input type="submit" name="submit_button" value="Sign In">
                    <p class="change_link" style="text-align: left">
                        <span class="text">Do not have an account?</span>
                        <a href="../signup" class="to_login"> Go to sign up</a>
                    </p>
            </form>
        </div>   
    </body>
</html>