<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Input From UI Design</title>
        <link rel="stylesheet" href="/static/css/style.css">
        </style>
    </head>
    <body>
        <div class="box">
            <h2>Sign Up</h2>
            <form action="/signup" method="post">
                <div class="inputBox">
                    <input type="text" name="username" required="">
                    <label>Your Username</label>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required="">
                    <label>Your Password</label>
                </div>
                <div class="inputBox">
                    <input type="password" name="again" required="">
                    <label>Please Confirm Your Password</label>
                </div>
                <input type="submit" name="submit_button" value="Sign Up">
                    <p class="change_link" style="text-align: left">
                        <span class="text">Already have an account?</span>
                        <a href="../login" class="to_login"> Go to sign in</a>
                    </p>
            </form>
        </div>   
    </body>
</html>